*{
    background-color:azure;
}
header{
    width: 18em;
    margin: auto;
    border-radius: 1em;
    text-align: center;
    border: 2px solid black;
    background-color: aquamarine;
}
header h1{
    color: white;
    background-color: aquamarine;
    text-shadow: 1px 1px black;
}
ul{
    display: grid;
}
ul a{
    text-decoration: none;
    color: brown;
    text-shadow: 0.5px 0.5px black;
    font-size: 1.2em;
}
ul a:hover{
    color: purple;
    text-shadow: 0.5px 0.5px black;
    font-size: 1.3em;
}
img{
    width: 13em;
}
ul{
    text-align: center;
    list-style-type: none;
}
.megumi1{
    position:fixed;
    top: 50%;
    left: 0%;
}
.megumi1 img{
    width: 10em;
    opacity: 80%;
}
.megumi2 img{
    width: 10em;
    opacity: 80%;
}
.megumi2{
    position: fixed;
    top: 50%;
    left: 90%;
}
.kazuma{
    position: fixed;
    left: 0%;
    top: 25%;

}
.kazuma img{
    width: 7.4em;
    opacity: 70%;
}
.kazuma2{
    position: fixed;
    left: 90%;
    top: 25%;

}
.kazuma2 img{
    width: 7.4em;
    opacity: 70%;
}
.aqua{
    position: fixed;
    left: 0%;
    top: 0%;

}
.aqua img{
    width: 7.5em;
    opacity: 70%;
}
.aqua2{
    position: fixed;
    left: 90%;
    top: 0%;

}
.aqua2 img{
    width: 7.5em;
    opacity: 70%;
}
.dark{
    position: fixed;
    left: 0%;
    top: 76%;

}
.dark img{
    width: 7.5em;
    opacity: 70%;
}
.dark2{
    position: fixed;
    left: 90%;
    top: 76%;

}
.dark2 img{
    width: 7.5em;
    opacity: 70%;
}