*{
    font-family: "Nunito Sans";
}
body{
    background-image: url(/img/pag/pag33/Image\ bg.png);
    color: white;
}
h1{
    font-size: 5vw;
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.7vw;
}
img{
    margin-left: 27vw;
    width: 45vw;
}
.no-drag {
  -webkit-user-drag: none;  /* Chrome, Safari */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

